/*sky: #CAEBF2*/
/*watermelon deep: #FA006E*/
/*watermelon lighter: #FF3C80*/
/*carbon: #A9A9A9*/
/*neutral: #EFEFEF*/

/*dark grey: #6F6F6F 111, 111, 111*/
/*darker grey: #444444  RGB 68, 68, 68 */

/*
BLUE: #0099e5
GREEN: #34bf49
RED: #ff4c4c
*/


a {
  color: #F7F4DE;
}

a:link {
  text-decoration: none;
}

img.logo {
	width: 100px;
	margin: 10px 0 0 20px;
}

/*////////// MAIN //////////*/
main {
	/*padding: 5px 50px 20px 50px;*/
	background-color: white;
	/*display: flex;*/
}

.slide img {
	/*width: 90%;*/
}

html, body {
  overflow-x: hidden;
}

* {
	outline: none;
}

body {
	background-color: #EFEFEF;
	color: rgba(68, 68, 68, 1);
	/*font-family: 'Roboto', 'Raleway', 'Helvetica Neue', HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;*/
	font-family: 'Libre Franklin', 'Raleway', 'Helvetica Neue', HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
	font-size: 14px;
	max-width: 100%;
	margin: 0;
}

/*cursor: pointer*/

/*////////// LANDING PAGE ///////////*/

div.landing,
div.uploading {
	display: flex;
	justify-content: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
	align-items: center;
	flex-direction: column;
	font: bold 55px/14px 'Dosis';
	color: rgba(255, 255, 255, 1);
	font-size: 55px;
	/*font: italic small-caps normal 13px/150% Arial*/
	/*max-height: 100%*/
	/*max-width: 100%;*/
}

div.uploading {
	padding: 50px;
	height: 600px;
}


p.landingLine {
	/*font: bold 55px/5px 'Dosis';*/
	/*line-height: 0.5;*/
	margin: 0;
}
hr {
	border-radius: 5px;
	width: 70px;
	border: 5px solid rgba(255, 255, 255, 0.7);
}

#landingTagline1 {
	/*font-family: 'Dosis';*/
	/*color: rgba(255, 255, 255, .9);*/
	/*font-weight: bold;*/
	font-size: 45px;
	line-height: 55px;
	margin: 15px;
}
#landingTagline2 {
	/*font-family: 'Dosis';*/
	/*color: rgba(255, 255, 255, .9);*/
	font-size: 35px;
	line-height: 35px;
	margin: 5px;
	/*font-weight: bold;*/
}


/*///////////////NAV BAR//////////////*/
.navBar {
	display: flex;
	justify-content: space-between;
	/*background-color: rgba(68, 68, 68, 1);*/
	background-color: white;
	/*padding: 10px;*/
	/*box-shadow: 0px 3px 4px #B3B3B3;*/
	/*border-bottom: 1px solid #A9A9A9;*/
	border-bottom: 1px solid #EFEFEF;
}

/*----- BUTTONS -----*/
button {
	/*font-family: 'Raleway';*/
	/*font-family: 'Roboto';*/
	font-family: 'Libre Franklin';
	font-size: 15px;
	padding: 16px;
	border: 0;
}

button.btn.nav,
button.pairButton {
	border: 0;
	/*border-radius: 5px;*/
	/*padding: 8px;*/
	background-color: transparent;
	color: #A0A0A0;
	margin: 0 8px 0 8px;
/*	background-color: none;*/
}

button.pairButtonCP {
	border: 0;
	/*border-radius: 5px;*/
	padding: 15px;
	/*margin: 0 8px 0 8px;*/
	background-color: transparent;
	/*font-family: Raleway, "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;*/
	/*font-size: 14px;*/
	color: #0099e5;
	margin: 10px 8px 15px 8px;
}

button.btn.nav.pop,
button.pairButton,
button.pairButtonCP {
	background-color: #0099e5;
	color: white;
	/*color: #444444;*/
}

button.pairButton {
	margin-bottom: 15px;
	background-color: #34bf49;
}

button.btn.nav.grey {
	background-color: #A0A0A0;
	color: white;
}

button.btn.nav.grey:hover {
	/*background-color: #ff4c4c;*/
	background-color: #FF3C80;
	color: white !important;
}

button.btn.nav.text:hover {
	color: #FF3C80;
}

button.btn.nav.pop:hover,
button.pairButton:hover,
button.pairButtonCP:hover {
	background-color: #FF3C80;
}


button:hover {
	cursor: pointer;
}

button.btn.nav {
	border: 0;
	border-radius: 0;
	/*padding: 10px;*/
	background-color: transparent;
	color: #A0A0A0;
	margin: 0 8px 0px 8px;
	/*height: 30px;*/
/*	background-color: none;*/
}

button.btn.nav.pop.off {
	background-color: #0099e5;
	color: white;
}
/*button.btn.nav.pop:hover  {
	background-color: #FF3C80;
}*/


div.buttonContainer {
	width: 150px;
	margin: 1px;
	display: flex;
	justify-content: space-around;
}

/*////////// SIGN IN /////////*/
div.enterForm {
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
	/*display: flex;*/
}

form.enter {
	display: flex;
	flex-direction: column;
}

input, select#loc {
	background-color: rgba(255, 255, 255, .5);
	color: black;
	border: 0;
	width: 300px;
	height: 27px;
	font: 14px 'Libre Franklin';
	margin-bottom: 10px;
}

select#loc,
select#loc option {
	border-radius: 0;
	width: 300px !important;
}

option#defaultLoc {
	color: white !important;
}

button.submit {
/*	border: 1px solid #A9A9A9;
	border-radius: 5px;
	padding: 4px;
	background-color: transparent;
	font-size: 14px;
	color: #444444;*/
	background-color: #34bf49;
	color: white;
	margin-top: 10px;
	width: 120px;
}


/*----- for placeholder text ------*/
::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .7);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, .7);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, .7);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, .7);  
}

button.submit:hover  {
	background-color: #FF3C80;
}


/*////// UPLOAD PAGE //////*/
div.enterForm.upload {
	padding: 10px;
	/*width: 50%;*/
	max-width: 800px !important;
	position: absolute;
}

div.themeContainer {
	display: flex;
}
button.submit.upload {
	width: 180px;
	margin-bottom: 10px;
}

p#theme {
	display: none;
	/*visibility: hidden;*/
	float: right;
}

p.themeText {
	font-size: 35px;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
}

img.imgThumb {
	border: 5px solid rgba(255, 255, 255, .7);
	width: 400px;
}

img.theme {
	opacity: 1;
	width: 55px;
	margin: 2px;
	padding: 3px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
}

img.theme.hide {
	display: none;
}

img.theme:hover {
	outline: 3px solid #34bf49;
}

img.theme.selected {
	outline: 3px solid #FF3C80;
	/*box-sizing: border-box;*/
	/*-webkit-box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);
	box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);*/
}

div#imgPreviewText {
	font-size: 20px;
	line-height: 50px;
}

select#loc {
	width: 150px;
}

form#uploadForm {
	display: flex;
	flex-direction: column;
}

input#getFile {
	width: 200px;
	font: 14px 'Libre Franklin';
	/*position: relative;*/
}

label#uploadFile {
	width: 150px;
	height: 20px;
	font: 14px 'Libre Franklin';
	background-color: rgba(255, 255, 255, .5);
	padding: 10px;
	margin-bottom: 5px;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
}

label#uploadFile:hover {
	background-color: rgba(255, 255, 255, .7);
}

input[type="file"] {
	display: none;
}

img.carousel {
	max-width: 60%;
	max-height: 60%;
}


/*/////////////// HOME PAGE ///////////////////*/

div.homeContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
  margin: 10px 30px 30px 50px;
	width: 90%;
	text-align: center;
}

span.picContainer {
	display: flex;
	justify-content: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 290px;
	height: 290px;
	margin: 5px;
}

span.picContainer:hover {
	outline: 3px solid #34bf49;
}

.homePic {
	max-width:100%;
	max-height:100%;
	display: flex;
	align-self: center;
}

h1#welcomeText {
	margin-top: 3px;
}

/*/////////////// CREATE PAIR ///////////////*/

.allContent {
	display: flex;
	justify-content: center;
}

/*----- FILM STRIP -----*/
div.filmStrip {
	margin-right: 5px;
}

span.picContainerFilm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #EFEFEF;
	margin: 0 5px 0 0;
	width: 205px;
}

span.picContainerFilm:hover {
	/*outline: 3px solid #FF3C80;*/
	/*background-color: #FF3C80;*/
	background-color: rgba(255, 251, 0, .7);
}

img.filmStripPic {
	width: 170px;
	margin: 3px;
	border: 1px solid white;
}

div.mainContent {
	width: 85%;
	/*background-color: #CAEBF2;*/
}

div.pairContainer {
	display: flex;
	justify-content: center;
	border: 1px solid #EFEFEF;
}

span.picBox {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 400px;
}

#pairPic1, #pairPic2 {
	/*display: flex;*/
  max-height: 400px;
  max-width: 95%;
  border: 1px solid white;
}

#pairPic1 {
	outline: 3px solid rgba(255, 60, 128, .9);
}
#pairPic2 {
	/*outline: 3px solid rgba(255, 251, 0, .7);*/
	outline: 3px solid #34bf49;
}

img#googleMap {
	width: 100%;
}

/*//////////////////// PAIR VIEW /////////////////*/
div.allContentPV {
  display: flex;
  flex-direction: column;
  justify-content: center;
	border: 1px solid #EFEFEF;
  width: 75%; /*main content*/
}


div.pairContainerPV {
	display: flex;
  justify-content: center;
}

span.picBoxPV {
/*	padding: 5px;
	max-height: 410px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 10px;
	/*height: 400px;*/
}

/*img.pairPic, img.pairPicMap {
	width: 100%;
}*/

#pairPic1PV, #pairPic2PV {
	/*display: flex;*/
  max-height: 345px;
  max-width: 95%;
  border: 1px solid white;
}

img#pairPic1PV {
	border-top: 3px solid rgba(255, 60, 128, .8);
	padding-top: 3px;
}

img#pairPic2PV {
	/*border-top: 3px solid rgba(255, 251, 0, 1);*/
	border-top: 3px solid #34bf49;
	padding-top: 3px;
}

div.mapBoxPV {
	display: flex;
	justify-content: center;
}

img#googleMapPV {
	max-width: 100%;
	max-height: 330px;
}

/*.pairPic {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 400px;
}*/
/*div.mapBox {
	width: 90%;
}

div.mapBox {
	margin-top: 5px;
}*/

/*img#pvTheme {
	width: 45px;
	opacity: .8;
}*/


/*///////////// COMMUNITY PAGE //////////////*/
div.containerMAIN {
	padding: 10px 50px 20px 50px;
}

div.containerALL {
	display: flex;
	justify-content: center;
}

div.containerPAIR {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/*justify-content: center;*/
	/*align-items: center;*/
	border: 1px solid #EFEFEF;
	width: 330px;
	margin: 10px;
}

div.containerPAIR:hover {
	outline: 3px solid #34bf49;
}

div.containerPICS {
	/*display: inline-flex;*/
	flex-direction: column;
	justify-content: space-between;
	/*align-items: center;*/
	height: 100%;
}

span.pairPIC {
	display: flex;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*width: 100%;*/
	height: 150px;
	margin: 10px;
	/*border-top: 3px solid white;*/
}

/*img.themePIC {
	width: 45px;
}*/


/*//////////// CAROUSEL ////////////*/
div.carouselMINI {
	display: flex;
	justify-content: center;
}

.carouselFEATURE img {
	height: 580px;
	width: auto;
	margin-bottom: 10px;
}

span.miniPIC {
	display: flex;
	justify-content: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	/*border: 5px solid white;*/
	margin: 5px;
}

span.miniPIC:hover {
	/*outline: 3px solid #FF3C80;*/
	outline: 3px solid #0099e5;
}

img.carouselTHEME {
	width: 50px;
	height: 50px;
}


/*/////////// MAKE FILM STRIP //////////////*/
/*span.picContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	background-color: #EFEFEF;
	
}
.homePic {
	width: 200px;
}
=======

img.theme.selected {
	outline: 3px solid #FF3C80;
	/*box-sizing: border-box;*/
	/*-webkit-box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);
	box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);
}
*/

/*/////////// OWL ////////////*/
/*#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

div#owl-demo {
	display: flex;
	justify-content: center;
}*/
