sky: #CAEBF2*/
/*watermelon deep: #FA006E*/
/*watermelon lighter: #FF3C80*/
/*carbon: #A9A9A9*/
/*neutral: #EFEFEF*/

/*dark grey: #6F6F6F 111, 111, 111*/
/*darker grey: #444444  RGB 68, 68, 68  */

a {
  color: #F7F4DE;
}

a:link {
  text-decoration: none;
}

/*///////////////NAV BAR//////////////*/
.navBar {
	display: flex;
	justify-content: flex-end;
	/*background-color: #444444;*/
	background-color: rgba(68, 68, 68, 1);
	padding: 10px;
	/*box-shadow: 0px 3px 4px #D2CFBA;*/
	border-bottom: 1px solid #A9A9A9;
}

button.btn.nav {
	border: 0;
	border-radius: 5px;
	padding: 8px;
	background-color: transparent;
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
	font-size: 14px;
	color: #CAEBF2;
	margin: 0 8px 0 8px;
/*	background-color: none;*/
}

button.btn.nav.pop {
	/*border: 1px solid #A9A9A9;*/
	background-color: #CAEBF2;
	color: #444444;
	/*margin: 0 8px 0 8px;*/
}

/*button.btn.nav.pop.changeButtonColor {
	background-color: #FF3C80;
}
button.btn.nav.text.changeFontColor {
	color: #FF3C80;
}*/

button.btn.nav.text:hover {
	color: #FF3C80;
}
button.btn.nav.pop:hover {
	background-color: #FF3C80;
}

/*.contentBox {
	background-color: white;
}*/

/*////////// MAIN //////////*/
main {
	padding: 20px;
	background-color: white;
	/*color: #2B6064;*/
	/*color: #A09E94;*/
	/*color: rgba(43, 96, 100, 1);*/
}

.imgThumb {
	width: 30%;
}
.slide img {
	/*width: 90%;*/
}

html, body {
  overflow-x: hidden;
}

* {
	outline: none;
}

body {
	background-color: #EFEFEF;
	color: rgba(68, 68, 68, 1);
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
	font-size: 14px;
	max-width: 100%;
	margin: 0;
}

/*img {
	background-color: white;
	padding: 6px;
	box-shadow: 3px 3px 5px #EFEFEF;
}*/

img.theme {
	width: 37px;
	margin: 2px;
	padding: 3px;
}

img.theme.selected {
	outline: 3px solid #FF3C80;
	/*box-sizing: border-box;*/
	/*-webkit-box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);
	box-shadow: 0px 0px 5px 2px rgba(59,154,255,1);*/
}

p#theme {
	display: none;
	/*visibility: hidden;*/
	float: right;
}

img.theme.hide {
	display: none;
}

input,
select#loc {
	width: 150px;
}

input#getFile {
	width: 200px;
}

img.carousel {
	max-width: 60%;
	max-height: 60%;
}

/*/////////// OWL ////////////*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

div#owl-demo {
	display: flex;
	justify-content: center;
}


button.submit {
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	padding: 4px;
	background-color: transparent;
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
	font-size: 14px;
	color: #444444;
}

input.form {
	width: 150px;
	margin: 1px;
}

div.buttonContainer {
	width: 150px;
	margin: 1px;
	display: flex;
	justify-content: space-around;
}

/*/////////////// HOME PAGE ///////////////////*/

div.homeContainer {
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: row;*/
	justify-content: center;
	margin: 30px;
	width: 90%;
}

span.picContainer {
	margin: 5px;
	width: 300px;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color: #EFEFEF;
	vertical-align: middle;
	display: flex;
	align-items: center;*/
}


.homePic {
/*	display: inline;
	width: auto;
	height: 300px;*/
	max-width:100%;
	max-height:100%;
	display: flex;
	align-self: center;
}

.ncarousel {
	width: 60%;
	height: 500px;
}

/*/////////// MAKE FILM STRIP //////////////*/
/*span.picContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	background-color: #EFEFEF;
	
}
.homePic {
	width: 200px;
}